<h1>
<!-- este es comando para el link con link_to y root_path es para q haga post a la misma pagina-->
<%= link_to "chat Maravilloso", root_path %>
</h1>

<ul id="chat_container">


	<% @messages.each do |message| %>
		<li>
			<%= message.name %> dijo :
			<%= message.content %>
		</li>
	  
	<% end %>
</ul>

<br />

<%= form_for(Message.new, :remote => true) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<!--<%= link_to 'New Message', new_message_path %>-->

<script type="text/javascript">
	Pusher.log = function(message) {
		if (window.console && window.console.log) window.console.log(message);
	};

    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('5b6881d2b9fa5258b091');
    var channel = pusher.subscribe('DEWchat');
	
    channel.bind('message:create',function(data) {
	var message = "<li id= 'message_"+ data.id + "'>"
	message += data.name + ":" + data.content
	message += "</li>"
	
	$("#chat_container").append(message);
	$("#message_content").val("");
	$("#message_content").focus();
	
    });
  </script>

 
